{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Categories - Budget Tracker{% endblock %}

{% block navbar_title %}Categories{% endblock %}

{% block content %}
<div id="react-categories"></div>

<!-- Hidden Django form for interaction with React -->
<form id="django-category-form" method="POST" style="display: none;">
    {% csrf_token %}
    {{ form|crispy }}
</form>
{% endblock %}

{% block extra_js %}
<script src="{% static 'frontend/main.js' %}"></script>
<script type="text/javascript">
    // Make the available icons and CSRF token available to React
    window.availableIcons = {{ available_icons|safe }};
    
    // Create array of category data with subcategories
    window.djangoCategories = {
        items: [
        {% for category in categories %}
            {
                "id": {{ category.id }},
                "name": "{{ category.name|escapejs }}",
                "icon": "{{ category.icon|escapejs }}",
                "subcategories": [
                {% for subcategory in category.subcategory_set.all %}
                    {
                        "id": {{ subcategory.id }},
                        "name": "{{ subcategory.name|escapejs }}",
                        "icon": "{{ subcategory.icon|escapejs }}"
                    }{% if not forloop.last %},{% endif %}
                {% endfor %}
                ]
            }{% if not forloop.last %},{% endif %}
        {% endfor %}
        ]
    };
    
    // Get CSRF token
    window.csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
</script>
{% endblock %} 